<!DOCTYPE html>
<html lang="en">

<head>
    <title>Submit a Lyric !</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="formUtils/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="formUtils/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="formUtils/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="formUtils/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="formUtils/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="formUtils/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="formUtils/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="formUtils/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="formUtils/css/util.css">
    <link rel="stylesheet" type="text/css" href="formUtils/css/main.css">
    <!--===============================================================================================-->
</head>

<body>


    <div class="container-login100" style="background-image: url('formUtils/images/bg.jpg');">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
            <form class="login100-form validate-form" action="/submit" method="POST">
                <span class="login100-form-title p-b-37">
                    Submit a Lyric
                </span>

                <div class="wrap-input100 validate-input m-b-20">
                    <textarea cols="30" rows="30" class="input100" id="lyricsarea" name="lyrics" placeholder="Enter lyrics here"></textarea>
                    <span class="focus-input100"></span>
                </div>

                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>



    <div id="dropDownSelect1"></div>

    <!--===============================================================================================-->
    <script src="formUtils/vendor/jquery/jquery-3.2.1.min.js"></script>
    <!--===============================================================================================-->
    <script src="formUtils/vendor/animsition/js/animsition.min.js"></script>
    <!--===============================================================================================-->
    <script src="formUtils/vendor/bootstrap/js/popper.js"></script>
    <script src="formUtils/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!--===============================================================================================-->
    <script src="formUtils/vendor/select2/select2.min.js"></script>
    <!--===============================================================================================-->
    <script src="formUtils/vendor/daterangepicker/moment.min.js"></script>
    <script src="formUtils/vendor/daterangepicker/daterangepicker.js"></script>
    <!--===============================================================================================-->
    <script src="formUtils/vendor/countdowntime/countdowntime.js"></script>
    <!--===============================================================================================-->
    <script src="formUtils/js/main.js"></script>

</body>

</html>